<div class="container">
<div class="form-wrapper">
<%= image_tag("logo.png", :class => "form_logo") %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
    <div class="form-item">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="form-item">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

    <div class="button-panel">
      <%= f.submit "Log in" %>
    </div>
  </form>
  <div class="form-footer">
    <p><a href="#">Create an account</a></p>
    <p><a href="#">Forgot password?</a></p>
  </div>
<% end %>

<%= render "stores/shared/links" %>
</div>
</div>