<h2>アクティビティ新規作成</h2>

<style>
.form_test ul li{
  margin-bottom: 20px;
}
</style>

<div class="form_test">
<%= form_for @activity do |f| %>
  <ul>
    <li><%= f.text_field :title, placeholder: "タイトル" %></li>
    <li><%= f.text_area :description, placeholder: "説明文"  %></li>
    <li><%= f.text_area :age, placeholder: "対象年齢"  %></li>
    <li><%= f.text_area :period, placeholder: "開催期間"  %></li>
    <li><%= f.text_area :reservation, placeholder: "予約"  %></li>
    <li><%= f.number_field :price, placeholder: "料金" %></li>
    <li><%= f.collection_select :prefectural, Prefectural.all, :id, :name %></li>
    <%= render partial: 'areas', locals: {prefectural_id: Prefectural.first.id} %>

    <li><%= f.text_field :street, placeholder: "町名番地" %></li>
      <%= f.fields_for :activity_images do |image| %>
        <li><%= image.file_field :image %></li>
      <% end %>
  </ul>
  <%= f.submit '登録' %>
<% end %>
</div><!-- .form_test -->

<style type="text/css" media="screen">
.kakushi{
  visibility: hidden;
}
</style>

<p class="kakushi">めちゃめちゃでたよ</p>

<script>
  $(function(){
    $('#activity_prefectural_id').change(function(){
      $('p').removeClass('kakushi');
  });
});
</script>