<h2>アクティビティ新規作成</h2>

<%= form_for @activity do |f| %>
  <%= f.text_field :title, placeholder: "タイトル" %>
  <%= f.text_area :description, placeholder: "説明文"  %>
  <%= f.number_field :price, placeholder: "料金" %>
  <%= f.submit '登録' %>
<% end %>