<div class="post hover01">
<h2><i class="fa fa-star" aria-hidden="true"></i>新着のレジャー・遊び・レッスン・学習</h2>


<%= link_to '一覧', activities_path %>
<%= link_to '新規作成', new_activity_path %>

<% @activities.each do |activity| %>
<h3><%= activity.title %></h3>
<p><%= activity.description %></p>
<p><%= activity.price %>円</p>
<%= link_to '詳細を見る', activity_path(activity) %>
<hr>
<% end %>


<% if store_signed_in? %>
<p><%= link_to "#{current_store.email}", "stores/#{current_store.id}" %>でログイン中</p>
<p><%= link_to "店舗ログアウト", destroy_store_session_path, method: :delete %></p>
<% else %>
<p><%= link_to "店舗ログイン", new_store_session_path %></p>
<p><%= link_to "店舗新規登録", new_store_registration_path %></p>
<% end %>

</div>