<h2>アクティビティ一覧</h2>
  <% if user_signed_in? %>
    <p><%= link_to "#{current_user.nickname}", "users/#{current_user.id}" %>でログイン中</p>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete  %>
  <% else %>
    <p>ログインしていません</p>
    <%= link_to "ログイン", new_user_session_path %>
    <%= link_to "新規登録", new_user_registration_path %>
  <% end %>

<br>
<%= link_to '一覧', activities_path %>
<%= link_to '新規作成', new_activity_path %>

<% @activities.each do |activity| %>
<h3><%= activity.title %></h3>
<p><%= activity.description %></p>
<p><%= activity.price %>円</p>
<%= link_to '詳細を見る', activity_path(activity) %>
<hr>
<% end %>