<!DOCTYPE html>
<html>
<head>
  <title>コレスタ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
  pager:false,
  controls:false,
 mode: 'fade',
 auto: 'true',
 speed:'8000'
});
});
</script>
<script>
$(function(){
    var $setText = $('.postitle');
    var cutFigure = '28'; // 表示する文字数の設定
    var afterText = ' …'; // 省略した末尾に追加するテキスト

    $setText.each(function(){
        var textLength = $(this).text().length;
        var textTrim = $(this).text().substr(0,(cutFigure))

        if(cutFigure < textLength) {
            $(this).html(textTrim + afterText).css({visibility:'visible'});
        } else if(cutFigure >= textLength) {
            $(this).css({visibility:'visible'});
        }
    });
});
</script>
<script>
    (function($) {
        $(document).ready(function() {
            $.slidebars();
        });SS
    }) (jQuery);
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
if(navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
// ACCORDION
$(function() {
    function accordion() {
        $(this).toggleClass("active").next().slideToggle(300);
    }
    $(".accordion .toggle").click(accordion);
});
}
</script>
<script>
$(function() {
    var showFlag = false;
    var topBtn = $('#page-top');
    topBtn.css('bottom', '-100px');
    var showFlag = false;
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            if (showFlag == false) {
                showFlag = true;
                topBtn.stop().animate({'bottom' : '20px'}, 200); 
            }
        } else {
            if (showFlag) {
                showFlag = false;
                topBtn.stop().animate({'bottom' : '-100px'}, 200); 
            }
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});
</script>
</head>
<body>
<!-- ヘッダー -->
<div id="headerupper" class="nonesp">
  <div class="inner">
    <h1>コレからスタートするあなたを応援します！「コレスタ」は日本全国の遊び・レジャー・レッスン・学習の「体験」をお届け！</h1>

    <div class="hdupnav">
      <ul>
        <li><a href="" class="adbg">広告掲載について</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="sb-site" class="main_content">
<div id="header">
<div id="head" class="sb-slide none">

    <p class="sb-toggle-right">
        <i class="fa2 fa-bars" aria-hidden="true"></i>
    </p>
</div>
<div class="inner">
  <h1></h1>
  <!-- ロゴ -->
  <h2><%= link_to image_tag("logo.png"), root_path %></h2>
  <!-- / ロゴ -->




<div class="nav">
<ul>
<% if user_signed_in? %>
  <li><%= link_to "ログアウト", destroy_user_session_path, :class => "btncol_02 button01", method: :delete %></li>
  <li><%= link_to "#{current_user.id}", "users/#{current_user.id}" %>様</li>
<% else %>
  <li><%= link_to "新規登録", new_user_registration_path, :class => "btncol_01 button01" %></li>
  <li><%= link_to "ログイン", new_user_session_path, :class => "btncol_02 button01" %></li>
<% end %>

  <li class="nonesp"><a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 初めての方へ</a></li>
  <li class="nonesp"><a href=""><i class="fa fa-heart"></i> マイスタ（お気に入り）</a></li>
  <li class="nonesp"><a href="">カテゴリーから探す</a></li>
  <li class="nonesp"><a href="">エリアから探す</a></li>
</ul>
</div>
</div>
</div>


<% if current_page?(root_path) %>
<!-- メイン画像 -->
<div id="mainImage">
<div class="inner">
<h2>コレからスタートするあなたへ<span class="nonesp"><span class="subh2">コレスタは日本全国の「体験」を集めた総合ポータルサイトです。<br />遊び・レジャー・レッスン・学習まで様々な「体験」がここにはあります。</span></span><span class="none"><span class="subh2">日本全国の「体験」がここにはあります</span></span></h2>
<div class="topsearcharea"><input id="" class=" topsearch" type="text" placeholder="京都 沖縄" value="" name="sat" autocomplete="off"><input id="" class="topsearch" type="text" placeholder="着付け バンジージャンプ" value="" name="sf" autocomplete="off"><input id="submit_button" class="topsearchbtn" type="submit" value="検索" name=""></div>
</div>
<ul class="bxslider">
      <li class="mainimg1"></li>
      <li class="mainimg2"></li>
      <li class="mainimg3"></li>
      <li class="mainimg4"></li>
    </ul>
</div>
<!-- / メイン画像 -->
<% end %>

<!-- / ヘッダー -->

<!-- メインコンテンツ -->
<div id="container">
<% if current_page?(root_path) %>
  <div class="koresuta">
  <h2>コレスタって？</h2>
  コレスタは「コレから何かをスタート」したい方に向けたあらゆる「体験」を集約したサイトです。<br />
  新しい「遊び」「レジャー」「レッスン」「学習」などきっとあなたのスタートにマッチした「体験」がここにはあります。
  </div>
<% end %>

<%= yield %>

</div>


</body>
</html>
