<!DOCTYPE html>
<html>
<head>
  <title>コレスタ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<script>
$(function(){
    var $setText = $('.postitle');
    var cutFigure = '28'; // 表示する文字数の設定
    var afterText = ' …'; // 省略した末尾に追加するテキスト

    $setText.each(function(){
        var textLength = $(this).text().length;
        var textTrim = $(this).text().substr(0,(cutFigure))

        if(cutFigure < textLength) {
            $(this).html(textTrim + afterText).css({visibility:'visible'});
        } else if(cutFigure >= textLength) {
            $(this).css({visibility:'visible'});
        }
    });
});
</script>
<script>
    (function($) {
        $(document).ready(function() {
            $.slidebars();
        });SS
    }) (jQuery);
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script>
if(navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/)){
// ACCORDION
$(function() {
    function accordion() {
        $(this).toggleClass("active").next().slideToggle(300);
    }
    $(".accordion .toggle").click(accordion);
});
}
</script>
<script>
$(function() {
    var showFlag = false;
    var topBtn = $('#page-top');
    topBtn.css('bottom', '-100px');
    var showFlag = false;
    //スクロールが100に達したらボタン表示
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            if (showFlag == false) {
                showFlag = true;
                topBtn.stop().animate({'bottom' : '20px'}, 200); 
            }
        } else {
            if (showFlag) {
                showFlag = false;
                topBtn.stop().animate({'bottom' : '-100px'}, 200); 
            }
        }
    });
    //スクロールしてトップ
    topBtn.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 500);
        return false;
    });
});
</script>
</head>
<body>
<!-- ヘッダー -->
<div id="headerupper" class="nonesp">
  <div class="inner">
    <h1>コレからスタートするあなたを応援します！「コレスタ」は日本全国の遊び・レジャー・レッスン・学習の「体験」をお届け！</h1>

    <div class="hdupnav">
      <ul>
        <li><a href="" class="adbg">広告掲載について</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="sb-site" class="main_content">
<div id="header">
<div id="head" class="sb-slide none">

    <p class="sb-toggle-right">
        <i class="fa2 fa-bars" aria-hidden="true"></i>
    </p>
</div>
<div class="inner">
  <h1></h1>
  <!-- ロゴ -->
  <h2><%= link_to image_tag("logo.png"), root_path %></h2>
  <!-- / ロゴ -->




<div class="nav">
<ul>
<% if user_signed_in? %>
  <li><%= link_to "ログアウト", destroy_user_session_path, :class => "btncol_02 button01", method: :delete %></li>
  <li><%= link_to "#{current_user.nickname}", "/users/#{current_user.id}" %>様</li>
<% else %>
  <li><%= link_to "新規登録", new_user_registration_path, :class => "btncol_01 button01" %></li>
  <li><%= link_to "ログイン", new_user_session_path, :class => "btncol_02 button01" %></li>
<% end %>

  <li class="nonesp"><a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 初めての方へ</a></li>
  <li class="nonesp"><a href=""><i class="fa fa-heart"></i> マイスタ（お気に入り）</a></li>
  <li class="nonesp"><a href="">カテゴリーから探す</a></li>
  <li class="nonesp"><a href="/areas">エリアから探す</a></li>
</ul>
</div>
</div>
</div>


<% if current_page?(root_path) %>
<script>
$(document).ready(function(){
$('.bxslider').bxSlider({
  pager:false,
  controls:false,
 mode: 'fade',
 auto: 'true',
 speed:'8000'
});
});
</script>

<!-- メイン画像 -->
<div id="mainImage">
<div class="inner">
<h2>コレからスタートするあなたへ<span class="nonesp"><span class="subh2">コレスタは日本全国の「体験」を集めた総合ポータルサイトです。<br />遊び・レジャー・レッスン・学習まで様々な「体験」がここにはあります。</span></span><span class="none"><span class="subh2">日本全国の「体験」がここにはあります</span></span></h2>
<div class="topsearcharea"><input id="" class=" topsearch" type="text" placeholder="京都 沖縄" value="" name="sat" autocomplete="off"><input id="" class="topsearch" type="text" placeholder="着付け バンジージャンプ" value="" name="sf" autocomplete="off"><input id="submit_button" class="topsearchbtn" type="submit" value="検索" name=""></div>
</div>
<ul class="bxslider">
      <li class="mainimg1"></li>
      <li class="mainimg2"></li>
      <li class="mainimg3"></li>
      <li class="mainimg4"></li>
    </ul>
</div>
<!-- / メイン画像 -->
<% end %>

<!-- / ヘッダー -->

<% unless controller.controller_name == "activities" && controller.action_name == "index" %>

<!-- パンくず -->
<div class="pankuzu">
<div class="inner">
<a href="">コレスタ</a><i class="fa fa-angle-right" aria-hidden="true"></i><a href="">バンジージャンプ</a><i class="fa fa-angle-right" aria-hidden="true"></i>HOA北海道アウトドアアドベンチャーズ
</div>
</div>
<% end %>

<!-- メインコンテンツ -->
<div id="container">
<% if current_page?(root_path) %>
  <div class="koresuta">
  <h2>コレスタって？</h2>
  コレスタは「コレから何かをスタート」したい方に向けたあらゆる「体験」を集約したサイトです。<br />
  新しい「遊び」「レジャー」「レッスン」「学習」などきっとあなたのスタートにマッチした「体験」がここにはあります。
  </div>
<% end %>

<%= yield %>

</div>


<p id="page-top"><a href="#wrap"><i class="fa3 fa-chevron-up" aria-hidden="true"></i>
</a></p>

<!-- フッター上部 -->
<div id="footerUpper">
  <div class="inner">
    <div class="sns">
    <%= image_tag("sns.jpg") %>
    <div class="snsmozi">コレスタ公式SNSに「いいね！」して、最新の体験をチェックしよう！</div>
<div class="buttons-sns"><div class="fb-like" data-href="https://www.facebook.com/GH.GreenHill/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></div>

    <div class="buttons-sns"><a href="https://twitter.com/chokokano" class="twitter-follow-button" data-show-count="false">Follow @chokokano</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
</div>

<div class="ftmenu">
  <h2>About-</h2>
    <div class="menulist">
      <a href="">初めての方へ</a>
      <a href="">広告掲載について</a>
      <a href="">利用規約</a>
      <a href="">プライバシーポリシー</a>
      <a href="">お問い合わせ</a>
      <a href="">運営会社</a>
      <% if user_signed_in? || store_signed_in? %>
      <% else %>
        <%= link_to "店舗様ログイン", new_store_session_path %>
      <% end %>
        <% if store_signed_in? %>
          <%= link_to "店舗マイページ", "/stores/#{current_store.id}" %>
        <% end %>
    </div>
</div>

  </div>
</div>
<!-- / フッター上部 -->

<div id="footerLower">
   <div class="inner">
   <%= link_to image_tag("logoft.png"), root_path %>
  <address>Copyright&copy; <span class="nonesp">日本最大級のレジャー・体験・レッスン予約サイト </span>コレ☆スタ © 2016 GreenHill</address>
    </div>
</div>

</div>

<div class="sb-slidebar sb-right">
<p class="sb-toggle-right">
        <span class="modoru"><i class="fa fa-reply" aria-hidden="true"></i>
戻る</span>
    </p>
    <div class="backsearch">
    <form action="/" name="search2" method="post">
  <dl class="search2">
    <dt><input type="text" name="search" value="" placeholder="フリーワード検索（例：バンジージャンプ）" /></dt>
    <dd><button>検索</button></dd>
  </dl>
</form>
</div>
<div class="backarea">
<div class="login"><i class="fa fa-sign-in" aria-hidden="true"></i>
ログイン</div>
<div class="newlog"><i class="fa fa-user" aria-hidden="true"></i> 会員登録</div>
<div class="mysta"><i class="fa fa-bookmark" aria-hidden="true"></i>
マイスタ</div>
<h2>全国の「体験」を探す</h2>
    <ul>
        <li>エリアから探す</li>
        <li>カテゴリーから探す</li>
        <li>人気順から探す</li>
        <li>駅から探す</li>
    </ul>
  <h2>About</h2>
    <ul><li>初めての方へ</li>
        <li>広告掲載について</li>
        <li>利用規約</li>
        <li>プライバシーポリシー</li>
        <li>お問い合わせ</li>
        <li>運営会社</li>
        <li>店舗様ログイン</li>
    </ul>  


    </div>
</div>
<script src="jquery.autopager-1.0.0.js"></script>
<script>
  //  最大ページ数取得
  var maxpage = <?php echo $wp_query->max_num_pages; ?>;
 
$('#loading').css('display', 'none');
$.autopager({
    content: '#article',// 読み込むコンテンツ
    link: '#next a', // 次ページへのリンク
    autoLoad: false,// スクロールの自動読込み解除
 
    start: function(current, next){
      $('#loading').css('display', 'block');
      $('#next a').css('display', 'none');
    },
 
    load: function(current, next){
        $('#loading').css('display', 'none');
        $('#next a').css('display', 'block');
        if( current.page >= maxpage ){ //最後のページ
            $('#next a').hide(); //次ページのリンクを隠す
        }
    }
});
 
$('#next a').click(function(){ // 次ページへのリンクボタン
    $.autopager('load'); // 次ページを読み込む
    return false;
});
</script>
</body>
</html>
